.body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
}
.top {
  position: relative;
  height: 30%;
  width: 90%;
  display: flex;
  left: 20px;
  justify-content: flex-start;
  align-items: center;
}
.container {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.minis {
  position: relative;
  width: 26rem;
  height: fit-content;
  background-color: #d9d9d9;
  margin: 5px;
  border-radius: 15px;
  padding: 5px;
  left: 20px;
}
.bigfont {
  font-size: 32px;
  font-weight: 700;
  color: #9f2123;
  margin: 0%;
  padding: 0%;
}
.Rfont {
  font-size: 32px;
  font-weight: 700;
  color: #9f2123;
  margin: 0%;
  padding: 0%;
}
.normalfont {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin: 0%;
  padding: 0%;
}
