.nav {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 5%;
}
.navc {
  padding-left: 7%;
}
.t12 {
  font-size: 0.75rem;
  font-weight: 700;
  text-align: justify;
  left: 25%;
  color: #fff;
  text-decoration: none;
}
