.body {
  min-height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
}
.top {
  margin: 2rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 5rem;
}
.minis {
  width: 25%;
  height: fit-content;
  background-color: #d9d9d9;
  margin: 1rem;
  border-radius: 1rem;
  padding: 5px;
}
.bigfont {
  font-size: 2rem;
  font-weight: 700;
  color: #9f2123;
  margin: 0%;
  padding: 0%;
}
.Rfont {
  font-size: 2rem;
  font-weight: 700;
  color: #9f2123;
  margin: 0%;
  padding: 0%;
}
.normalfont {
  font-size: 1.25rem;
  font-weight: 300;
  color: #000;
  margin: 0%;
  padding: 0%;
}
