.top {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 75vh;
  width: 100%;
}
.top > img {
  flex: 1;
  max-width: 1512px;
  width: 100%;
  height: auto;
  object-position: center;
  background: no-repeat;
  object-fit: cover;
}
.mtxt {
  position: absolute;
  align-self: flex-start;
  margin: 10%;
  max-width: 34rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: #fff;
}
.btxt {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  color: #fafafa;
  margin: 0%;
  padding: 0%;
}
.list {
  color: #fff;
}
