.top {
  display: flex;
  flex-direction: column;
  height: 75vh;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: url("/epoxy-and-waxed-flooring-with-colorful-signage-2023-11-27-05-00-56-utc 1.png")
    no-repeat;
  object-fit: cover;
}
.mtxt {
  margin: 5rem;
  padding: 5rem;
  width: 34rem;
  align-self: flex-start;
}
.title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #fff;
}
.btxt {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #fafafa;
  margin: 0%;
  padding: 0%;
}
.list {
  color: #fff;
}
