.backg {
  height: 100%;
  display: flex;
  object-fit: cover;
  text-align: justify;
  color: black;
  width: 100%;
  background: no-repeat;
}
.backg > img {
  height: 100%;
}
.scndbackg {
  height: 100%;
  display: flex;
  object-fit: cover;
  text-align: justify;
  width: 100%;
  background: no-repeat;
}
.scndbackg > img {
  height: 100%;
}
.thrdbackg {
  height: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  text-align: justify;
  color: black;
  background: no-repeat;
}
.thrdbackg > img {
  height: 100%;
}
.frthbackg {
  height: 100%;
  display: flex;
  object-fit: cover;
  text-align: justify;
  color: black;
  width: 100%;
  background: no-repeat;
}
.frthbackg > img {
  height: 100%;
}
.mtxt {
  width: 37rem;
  justify-content: center;
  position: absolute;
  align-self: center;
  margin: 10%;
}
.link {
  display: flex;
}
.boton {
  display: flex;
  transition: all 1s;
  height: 2rem;
  color: #be2428;
  gap: 5px;
  align-items: center;
}
.boton:hover {
  color: #e66f75;
  transition: all 0.5s;
}

.title {
  font-size: 24px;
  font-weight: 700;
}
.medium {
  font-size: 15px;
  font-weight: 400;
}
.btxt {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.hugetxt {
  font-size: 32px;
  font-weight: 700;
}
.hugered {
  font-size: 32px;
  font-weight: 700;
  color: #be2428;
}
.xltxt {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}
.redxl {
  font-size: 36px;
  font-weight: 700;
  color: #be2428;
}
.xxltxt {
  font-size: 64px;
  font-weight: 700;
  color: #be2428;
  margin: 0;
  padding: 0;
}
