.clientes {
  background-color: #fff;
  min-height: 50vh;
}
.cbdy {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cslider {
  min-height: 50%;
  max-width: 100%;
  background-color: #e1e1e1;
  display: flex;
}
.slider {
  width: 95%;
  display: flex;
}
.inside {
  flex: 1;
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
.inside > img {
  flex: 1;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 55%;
  max-width: 205px;
}
.title {
  flex: 1;
  display: flex;
  padding: 10%;
}
.ctxt {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #be2428;
}
