.nav {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: flex-start;
  position: absolute;
  top: 5%;
  flex: 5;
}
.navc {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.t12 {
  font-size: 12px;
  font-weight: 700;
  text-align: justify;
  color: #fff;
  text-decoration: none;
}
.num {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}
