.nav {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  background-color: black;
  top: 5%;
}
.navc {
  padding-left: 7%;
}
.t12 {
  font-size: 12px;
  font-weight: 700;
  text-align: justify;
  left: 25%;
  color: #fff;
  text-decoration: none;
}
