.second {
  background-color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 6rem;
  height: 90vh;
  position: relative;
  text-align: center;
}
.boton {
  display: flex;
  width: 5rem;
  align-items: center;
  opacity: 75%;
  transition: all 1s;
}
.boton:hover {
  opacity: 100%;
  transition: all 0.5s;
}
.btxt {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}
.wpp {
  display: flex;
  position: absolute;
  top: 6rem;
  right: 5rem;
  background-color: #30be24;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 100%;
}
.secndt {
  width: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
