.second {
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  gap: 5rem;
  flex: 1;
}
.boton {
  display: flex;
  width: 6rem;
  align-items: center;
  opacity: 75%;
  gap: 5px;
  transition: all 1s;
}
.boton:hover {
  opacity: 100%;
  transition: all 0.5s;
}
.btxt {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}
.wpp {
  display: flex;
  background-color: #30be24;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem;
  border-radius: 100%;
  position: relative;
  bottom: 20%;
}
.secndt {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  padding: 1rem;
  position: relative;
  bottom: 15%;
  left: 5%;
}
