.top {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.foot {
  flex: 6;
  background-color: fuchsia;
}
