.us {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 110vh;
}
.body {
  max-width: 85%;
  display: flex;
  justify-content: center;
  min-height: 670px;
}
@media (max-width: 600px) {
  .utxt {
    position: relative;
    background-color: #f5f5f5e5;
    min-height: 14rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
  }
  .imag > img {
    flex: 1;
    object-fit: cover;
    object-position: right;
    height: auto;
    max-width: 670px;
    width: 100%;
  }
}
.utxt {
  position: relative;
  background-color: #f5f5f5e5;
  min-height: 14rem;
  top: 15%;
  right: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}
.foottxt {
  color: #fafafa;
  font-size: 15px;
  font-weight: 700;
}
.decor {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 20%;
}
.bdytxt {
  font-size: 15px;
  font-weight: 300;
}
.title {
  color: #be2428;
  font-size: 24px;
  font-weight: 700;
}
.imag {
  flex: 1;
  display: flex;
}
.imag > img {
  flex: 1;
  object-fit: cover;
  object-position: center;
  height: auto;
  max-width: 670px;
  width: 100%;
}
.imgop {
  flex: 1;
  flex-direction: column-reverse;
  display: flex;
}
.bigfoot {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.smallfoot {
  min-height: 10rem;
  width: auto;
  background-color: #be2428;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 3rem;
}
