.wpp {
  display: flex;
  position: absolute;
  top: 6rem;
  right: 5rem;
  background-color: #30be24;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 100%;
}
