.hover {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.mcontainer {
  max-width: 100%;
  height: auto;
  padding: 6rem 9rem;
  background: url("/WhatsApp Image 2024-02-27 at 3.48 1.png");
}
.mtxt {
  font-size: 1.25rem;
  font-weight: 700;
}
.vrtxt {
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.card {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #9f2123;
}
.bdytxt {
  flex: 1;
  padding: 6rem 0 6rem 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bdyimg {
  flex: 3;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.bdyimg > img {
  object-fit: cover;
  object-position: center;
  flex: 1;
  min-width: none;
  height: auto;
  width: 1px;
  border-radius: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 700;
}
