.top {
  flex: 1;
  flex-direction: column;
  background: url("/pexels-ksenia-chernaya-5691606 1.png");
  object-fit: cover;
  height: 100%;
  align-items: center;
  display: flex;
  object-fit: cover;
  text-align: justify;
  color: black;
}
.mtxt {
  padding: 5rem;
  width: 34rem;
  justify-content: center;
  align-self: flex-start;
}
.title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #fff;
}
.btxt {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #fafafa;
  margin: 0%;
  padding: 0%;
}
.list {
  color: #fff;
}
